ion-content {
    background-repeat: no-repeat;
    background-size: auto;
    --background: url("../../assets/img/Frame13.png");


}


.cardum{
    position: absolute;
width: 330px;
height: 543px;
left: 15px;
top: 73px;

background: linear-gradient(359.13deg, #FFFFFF 0.41%, rgba(255, 255, 255, 0) 99.51%), rgba(255, 255, 255, 0.46);
border-radius: 10px;
}