<ion-content class="bkc" >

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding login-d">
        <span> ENTRE</span>
        <ion-item class="ion-margin-top some" lines='none'>
         
          <ion-input placeholder="E-mail" type='email'></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top some " lines='none'>
          
          <ion-input placeholder="Senha" type='email'></ion-input>
        </ion-item>
        
          <ion-button  >Entrar</ion-button>
          
      
      </div>
     
    </ion-slide>
  
  </ion-slides>
  
 <ion-button  >Entrar</ion-button>

</ion-content>