

.some{
  --background: rgba(0, 0, 0, 0);
}
.bkc{
  --background: url("../../assets/imgs/fundo.png") no-repeat center fixed;
 
  padding: 0px;



  
  width: 100vw;
  height: 100vh;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.login-d{
 

  //background-color: red;
  margin-top: 50%;
 background-color: #1045502c;
 
 

  ion-input{
    text-align: center;
    border-radius: 8px;
    width: 300px;
 
  background-color: hsla(180, 3%, 19%, 0.205);
  color: var(--ion-color-secondary);

    
  }
  ion-label{
    color: var(--ion-color-secondary);
  }
 

  span{
    color: var(--ion-color-secondary);
    font-size: 32px;

    text-shadow: #000000 1px 1px 1px;
    
    
  }
  ion-button{
    width: 300px;
    height: 45px;
    border-radius: 4px;
    color: var(--ion-color-secondary);
  }
}