ion-content {
    background-repeat: no-repeat;
    background-size: auto;
    --background: url("../../assets/img/Frame13.png");


}

.cardum{
    
position: absolute;
width: 333px;
height: 69px;
left: 14px;
top: 155px;

background: #FFFFFF;
border-radius: 10px;
  }

  .cardumum{
    
    position: absolute;
    width: 333px;
    height: 69px;
    left: 14px;
    top: 163px;
    
    background: rgba(68, 135, 131, 0.69);
    border-radius: 10px;
      }
  
  
  
  .carddois{
    position: absolute;
    width: 333px;
    height: 69px;
    left: 15px;
    top: 249px;
    
    background: #FFFFFF;
    border-radius: 10px;
  }

  .carddoisdois{
    
position: absolute;
width: 333px;
height: 69px;
left: 15px;
top: 257px;

background: rgba(68, 135, 131, 0.69);
border-radius: 10px;
  }
  
  
  
  .cardtres{
   
    position: absolute;
    width: 333px;
    height: 69px;
    left: 15px;
    top: 343px;
    
    background: #FFFFFF;
    border-radius: 10px;
   
  }

    
  
  .cardtrestres{
   
    position: absolute;
    width: 333px;
    height: 69px;
    left: 14px;
    top: 351px;
    
    background: rgba(68, 135, 131, 0.69);
    border-radius: 10px;
   
  }
  
  


  .premio{
  
position: absolute;
width: 101px;
height: 96px;
left: 34px;
top: 57px;

  }
