<ion-header>
 
</ion-header>

<ion-content>
 

 
    
    
 
    <ion-card class="cardumum">
      <ion-card-header>
      </ion-card-header>
    </ion-card>
  
    <ion-card class="cardum" href="/chat">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Grupo 1</ion-label>
      </ion-item>
      <ion-card-header>
       
      </ion-card-header>
    </ion-card>
  

 
  
  <ion-card class="carddoisdois" >
    <ion-card-header>
    </ion-card-header>
  </ion-card>
      
  <ion-card class="carddois" >
    <ion-card-header>
    </ion-card-header>
  </ion-card>

  
   
  <ion-card class="cardtrestres">
    <ion-card-header>
    </ion-card-header>
  </ion-card>
  
  <ion-card class="cardtres">
    <ion-card-header>
    </ion-card-header>
  </ion-card>
  
 
  
 
  <ion-avatar class="premio">
    <img src="../../assets/img/premio1.png">
  </ion-avatar>

</ion-content>
