<ion-header>
 
</ion-header>

<ion-content>
 

 
    
    
 
    <ion-card class="cardumum">
      <ion-card-header>
      </ion-card-header>
    </ion-card>
  
    <ion-card class="cardum">
      <ion-card-header>
      </ion-card-header>
    </ion-card>
  

 
  
  <ion-card class="carddoisdois" >
    <ion-card-header>
    </ion-card-header>
  </ion-card>
      
  <ion-card class="carddois" >
    <ion-card-header>
    </ion-card-header>
  </ion-card>

  
   
  <ion-card class="cardtrestres">
    <ion-card-header>
    </ion-card-header>
  </ion-card>
  
  <ion-card class="cardtres">
    <ion-card-header>
    </ion-card-header>
  </ion-card>
  
 
  
 
  <ion-avatar class="premio">
    <img src="../../assets/img/premio1.png">
  </ion-avatar>

</ion-content>
