<ion-header>
  <ion-text color="secondary" class="bemvindo">
    <h1>Bem vindo (a)</h1>
  </ion-text>
</ion-header>
 
<ion-content >
  <ion-card class="cardum">
    <ion-card-header>
    </ion-card-header>
  </ion-card>


<ion-card class="carddois" href="/grupinhos" >
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardtres">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardquatro">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardcinco">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardseis">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardsete">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardoito">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardnove">
  <ion-card-header>
  </ion-card-header>
</ion-card>

<ion-avatar class="carta">
  <img src="../../assets/img/toque1.png">
</ion-avatar>


   

    
</ion-content>
