<ion-header>
  <ion-toolbar translucent  >
    <ion-buttons slot="start"  (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content >
  <ion-card class="cardum">
    <ion-card-header>
    </ion-card-header>
  </ion-card>


<ion-card class="carddois">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardtres">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardquatro">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardcinco">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardseis">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardsete">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardoito">
  <ion-card-header>
  </ion-card-header>
</ion-card>



<ion-card class="cardnove">
  <ion-card-header>
  </ion-card-header>
</ion-card>

<ion-avatar class="carta">
  <img src="../../assets/img/toque1.png">
</ion-avatar>


   

    
</ion-content>
