ion-content {
  //background-repeat: no-repeat;
  //background-size: cover;
  //--background: url("../../assets/imgs/Frame15.png");

}

// .bola1 {
//   position: absolute;
//   width: 127px;
//   height: 133px;
//   left: 32px;
//   top: 573px;
//   border-radius: 50%;

//   background: #d25664;
// }
// .bola2 {
//   position: absolute;
//   width: 121px;
//   height: 155px;
//   left: -73px;
//   top: 538px;

//   background: linear-gradient(180deg, #7d4871 0%, rgba(255, 255, 255, 0) 100%), #ff0000;
//   border-radius: 50%;
// }
// .bola3 {
//   position: absolute;
//   width: 121px;
//   height: 155px;
//   left: -63px;
//   top: 517px;

//   background: linear-gradient(180deg, rgba(121, 74, 99, 0.7) 0%, rgba(255, 255, 255, 0) 100%), #c75c65;
//   border-radius: 50%;
// }
// .bola3 {
//   position: absolute;
//   width: 127px;
//   height: 133px;
//   left: 41px;
//   top: 567px;

//   background: #8c4e72;
//   border-radius: 50%;
// }
// .bola4 {
//   position: absolute;
//   width: 132px;
//   height: 133px;
//   left: 124px;
//   top: 616px;

//   background: #e74c53;

//   border-radius: 50%;
// }
// .bola5 {
//   position: absolute;
//   width: 121px;
//   height: 155px;
//   left: 308px;
//   top: 551px;

//   background: linear-gradient(180deg, #c7586a 0%, #5c586d 100%), #df515c;

//   border-radius: 50%;
// }
// .bola6 {
//   position: absolute;
// width: 121px;
// height: 133px;
// left: 224px;
// top: 619px;

// background: #E74C53;

//   border-radius: 50%;
// }
// .bola7 {
//   position: absolute;
//   width: 95px;
//   height: 96px;
//   left: 235px;
//   top: 598px;
  
//   background: #8C4E72;

//   border-radius: 50%;
// }
// .bola8 {
//   position: absolute;
//   width: 132px;
//   height: 133px;
//   left: 134px;
//   top: 609px;
  
//   background: #8C4E72;

//   border-radius: 50%;
// }
// .bola8 {
//   position: absolute;
//   width: 132px;
//   height: 133px;
//   left: 134px;
//   top: 609px;
  
//   background: #8C4E72;

//   border-radius: 50%;
// }

.cardum {
  position: flex;
  width: 80%;
  height: 50%;
  left: 8%;
  top: -49%;

  background: #2f2933;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
}

.cardumum {
  //position: absolute;
  width: 80%;
  height: 50%;
  left: 5%;
  top: 5%;

  background: linear-gradient(180.13deg, #ca5664 0.1%, rgba(255, 255, 255, 0) 75.91%), rgba(210, 86, 100, 0.67);
  border-radius: 10px;
}

.bemvindo {
  //position: absolute;
  //width: 289px;
  //height: 92px;
 // left: ;
  //top: 26px;

  font-family: Cinzel;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--ion-color-warning-tint);
  //color: #dcc20c;
}
ion-item {
  --background: rgba(0, 0, 0, 0);
}
.cor_texto_padrao {
  color: var(--ion-color-warning-tint);
}
.controle {
  margin-top: 15%;
}
.lbl {
  margin-top: 2%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn_register {
  margin-top: 5%;
  margin-left: 70%;
}
