<ion-content scroll-y="false" style="overflow-y: hidden">
  <div class="background-senac cardFundo">
    <ion-slides mode="ios" pager="true" [options]="slideOptions" >
      <ion-slide>
        <img class="logo" src="../../assets/img/senac-logo.png" alt="">

        <h1 class="bemvindo fonte-1">BEM-VINDO (A)!</h1>

        <h2 class="ola fonte-2">
          Olá! Você está prestes a embarcar em um mundo de oportunidades!
        </h2>
      </ion-slide>
      <ion-slide>
        <img class="logo" style="height: 154px;" src="../../assets/img/logo-2.png" alt="">

        <h1 class="bemvindo fonte-1" style="font-size: 22px;"> CRIE SEU CURRÍCULO</h1>

        <h2 class="ola fonte-2">
          Faça seu currículo no nosso próprio aplicativo, evitando informações desnecessárias e garantindo as importantes.
        </h2>
      </ion-slide>
      <ion-slide>
        <img class="logo" src="../../assets/img/senac-logo.png" alt="">

        <h1 class="bemvindo fonte-1"   style="font-size: 22px;" >APROVEITE AS DICAS</h1>

        <h2 class="ola fonte-2">
          Nós temos várias dicas pra você se sair bem na sua entrevista de emprego e para montar seu currículo da melhor forma.
        </h2>
      </ion-slide>
    </ion-slides>
  </div>



  <div class="cardButtons">
    <h1 class="vamosComecar fonte-3 grafite">Vamos começar?</h1>

    <ion-grid class="botoes">
      <ion-row>
        <ion-col size="6">
          <ion-button href="log-aluno" class="botao">Entrar </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button href="cad-aluno" class="botao"> Cadastro </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3 class="empresa fonte-4 grafite">
      Ou entre como empresa:
    </h3>
  </div>
</ion-content>