<ion-header class="ion-no-border">
  <ion-toolbar color="tranparente">
    <ion-back-button slot="start" defaultHref="home">Voltar</ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content class="content-meu" scroll-y='false' fullscreen>


  <div class="card ">
    
    <img class="icone" src="../../assets/img/icon4.png" alt="">
  </div>

  <div class="mainCard background-senac">
    <h2 class="fonte-1 txtLogAluno">
      Login <br>
      aluno
    </h2>

    <ion-item mode='ios' class="fonte-2" color="transparent" class="floating-lbl">
      <ion-label position="floating">Login</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item mode='ios' class="fonte-2" color="transparent" class="floating-lbl">
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class="btnEntrar fonte-5">
      Entrar
    </ion-button>


    <p class="fonte-5 esqueciSenha" href=""> <a href="">Esqueci minha senha</a> :(</p>

  </div>
</ion-content>